/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background: solid white;
}



/****************/
/* JOUW STYLING */
/****************/
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
}

.logo {

}

.section1 {
    position: relative;
}

.background1 {
	width: 380px;
	height: 520px;
}

.EXTRA20 {
	position: absolute;
	top: 350px;
	left: 22px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.finalsale {
	position: absolute;
	top: 380px;
	left: 22px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.code {
	position: absolute;
	top: 430px;
	left: 22px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
	border: white; border-width: 2px; border-style: inset;
}

.model {
	width: 375px;
	margin-top: 40px;
}

.schoenen {
	width: 375px;
	margin-top: 30px;
}

body {
  color:var(--color-text);
  background-color:var(--color-background);
}

.jacket {
	width: 175px;
	margin-top: 20px;
}

.pants {
	width: 175px;
	margin-left: 3px;
}

.vest {
	width: 175px;
	margin-top: 10px;
}

.pants2 {
	width: 175px;
	margin-left: 3px;
}